{ 
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "eol-last": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "indent": [2, 4, { "SwitchCase": 1 }],
    "react/jsx-indent": [2, 4],
    "arrow-body-style": 0,
    "react/prop-types": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react/jsx-indent-props": 0,
    "jsx-quotes": 0
  },
  "plugins": [
    "react"
  ]
}