.docker-item {
  border: 1px solid black;
  border-radius: 3%;
  width: 380px;
  height: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.docker-items {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 20px;
}

.close-button-container {
  display: flex;
  flex-direction: row-reverse;
}

.close-button {
  width: 20px;
  height: 20px;
  float: right;
  margin: 5px;
}

.custom-form-styles {
  padding: 20px 0 20px 0;
}

.custom-list-styles {
  padding: 20px;
}

.btn {
  margin-right: 20px;
}